<!DOCTYPE html>
<html>
<head>
	<title>Projeto tabuada</title>
</head>
<body>
	<main>
		<h1>Projeto Tabuada</h1>
		<p>Resultado da tabuada do número <%= numero %></p>
		<table>
			
			<thead>
				<tr>
					<th>Operação</th>
					<th>Resultado</th>
				</tr>
		   </thead>
		   <tbody>
		   	<% for (var i=1; i<=10; i++){%>
				<tr>
					<td><%=numero%>x<%=1%></td>
					<td><%=numero* i%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
		</form>
	</main>

</body>
</html>